* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  header {
    padding: 40px;
    background: #1f2833;
    color: #45a29e;
  }

  header h1 {
      float:left;
  }
  
  nav {
    display: flex;
    float: right;
    background-color: #1f2833;
  }
  
  nav a {
    display: flex;
    color: #45a29e;
    padding: 14px 20px;
    text-decoration: underline;
  }
  
  figure {
    height: 150px;
    width: 100%;
    margin-bottom: 25px;
    background-image: linear-gradient(#1f2833, white);
    background-size: cover;
    background-position: center;
  }

  
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  h2 {
      float: left;
  }

  p {
      float:right;
  }

  .apps {
    flex: 4;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  

  .card {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
  }
  
  .card header {
    padding: 20px;
  }
  
  .card p {
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }
  

  @media screen and (max-width: 768px) {
    main,
    nav {
        flex-direction: column;
    }
  }